@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;  
}

.header ul  {
   list-style: none;
   padding: 0px 300px 0px 0px; 
   display: flex;
   gap: 50px;
   align-items: center;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    padding: 0px 0px 0px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.hero.sign-up {
    width: 100px;
    background-color: #3882f6;
    border: 0;
    border-radius: 10px;
    margin-left: 300px;
    padding: 5px;
    font-weight: 900;
    color: #f9faf8;
    display: block;
    text-align: center;        
}
.hero.sign-up a{
    text-decoration: none;
    font-size: 14px;
    color: #e5e7eb; 
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    min-height: min-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero.left {
    flex-direction: column;
    max-width: 50%;
    gap: 10px;
}

.hero.text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    padding: 0px 0px 0px 300px;
    margin: 0px;
}

.hero.subtext {
    font-size: 18px;
    color: #f9faf8;
    padding: 0px 0px 0px 300px; 
    margin: 0px;   
}

.hero.right {
    display: flex;
    align-items: center;
    padding: 0px 300px 0px 400px;
}

.hero.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 450px;
    background-color: grey;
}

.information p {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
    min-height: min-content;
}

.info {
    max-width: 250px;
    display: block;
}

.image {
    width: 205px;
    height: 200px;
    border: 4px solid blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.quote {
    background-color: #e5e7eb;
    font-family: Light Italic;
}

.quote.text {
    font-size: 36px;
    margin-bottom: 0px;
    padding-left: 300px;
    padding-right: 300px;
    color: #1f2937;
}

.quote.subtext {
    font-size: 30px;
    font-weight: 900;
    margin-top: 0px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: right;
    color: #1f2937;
}
